#all {
    color: red;
}
#box {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #434242;;
    margin: 2vw;
    height: 45vh;
    width: 70vw;
    transition: 0.5s;

}
#box:hover{
    border: 2px solid white;
    border-radius: 2vh 2vh 2vh 2vh;
    background-color: #00d1ff;
    height: 45.5vh;
    width: 70.5vw;

}

#image{
    
    width:45vw;
    height: 40vh;
    border: 2px solid white;
    
}
#space{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5vh;
}