#all {
    color: red;
}

#box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #434242;
    margin: 2vw;
    height: 35vh;
    width: 42vw;
    transition: 0.3s;
}

#box:hover {
    border: 3px solid white;
    border-radius: 1vh 1vh 1vh 1vh;
    height: 35.5vh;
    width: 42.5vw;
    background-color: #00d1ff;
}

#image {
    width: 20vw;
    height: 20vh;
    border: 2px solid white;
}

#space {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5vh;
}