/*Computer style*/

body {
    margin: 1px;
    padding: 1px;
    background-color: #393737;
    color: white;
    font-family: Times New Roman;
}

h1 {
    display: flex;
    justify-content: flex-start;
    margin-top: -3vh;
    margin-bottom: -3vh;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    flex-direction: column;
}

ul {
    margin-top: -2vh;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10vh;
}

li {
    font-size: 1.2rem;
    margin-left: 1rem;
}

li:hover {
    color: red;
}

h5 {
    color: lightgray;
}

h5:hover {
    color: white;
}

#selected {
    color: red;
}

#column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-top: 2vh;
    font-size: 2vh;
}

#alcampoMap {
    background-color: transparent;
    color: red;
    width: 100%;
    height: 4vh;
    border: 2px solid red;
    border-radius: 1vh;
}

#alcampoMap:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

#urbilMap {
    background-color: transparent;
    color: #00d1ff;
    width: 100%;
    height: 4vh;
    border: 2px solid #00d1ff;
    border-radius: 1vh;
}

#urbilMap:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

#space {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20vh;
}

#mall1 {
    border: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #434242;
    width: 22rem;
    height: 22rem;
    transition: 0.3s;
}

#mall1:hover {
    border: 2px solid white;
    border-radius: 2vh 2vh 2vh 2vh;
    width: 22.5rem;
    height: 22.5rem;
    background-color: #00d1ff;
}

#mall2:hover {
    border: 2px solid white;
    border-radius: 2vh 2vh 2vh 2vh;
    width: 22.5rem;
    height: 22.5rem;
    background-color: #00d1ff;
}

#mall2 {
    border: 3px solid #00d1ff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #434242;
    width: 22rem;
    height: 22rem;
    transition: 0.3s;
}

#urbil {
    min-width: 10vw;
    width: 35vw;
    height: 35vh;
}

#alcampo {
    width: 40vw;
    height: 50vh;
}

footer {
    border-top: 3px solid #00d1ff;
    position: fixed;
    Width: 100%;
    bottom: 0;
    background-color: #434242;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 12vh;
}

h5 {
    margin-top: -3vh;
    font-size: 1.2rem;
    ;
    padding-right: 2vh;
}

#error {
    display: none;
}

#arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrowImg {
    width: 5vw;
    height: 10vh;
}

#arrowImg:hover {
    border-radius: 10vh 10vh 10vh 10vh;
    background-color: #00d1ff;
}

section {
    border: 3px solid #00d1ff;
    border-radius: 1vh 1vh 1vh 1vh;
}